In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import plotly.express as px

In [2]:
# Read the csv file into a pandas DataFrame

df = pd.read_csv("../Resources/telecom_customer_churn.csv")
df.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [3]:
df = df[df['Customer Status'] != 'Joined']
df

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.60,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.90,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7037,9986-BONCE,Female,36,No,0,Fallbrook,92028,33.362575,-117.299644,0,...,Bank Withdrawal,20.95,85.50,0.00,0,8.04,93.54,Churned,Competitor,Competitor made better offer
7038,9987-LUTYD,Female,20,No,0,La Mesa,91941,32.759327,-116.997260,0,...,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,Stayed,NaN,NaN
7039,9992-RRAMN,Male,40,Yes,0,Riverbank,95367,37.734971,-120.954271,1,...,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,Churned,Dissatisfaction,Product dissatisfaction
7041,9993-LHIEB,Male,21,Yes,0,Solana Beach,92075,33.001813,-117.263628,5,...,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,Stayed,NaN,NaN
7042,9995-HOTOH,Male,36,Yes,0,Sierra City,96125,39.600599,-120.636358,1,...,Bank Withdrawal,59.00,3707.60,0.00,0,0.00,3707.60,Stayed,NaN,NaN

In [4]:
df['Churn Category'] = df['Churn Category'].replace(np.nan,'satisfied')
df['Internet Type'] = df['Internet Type'].replace(np.nan,'No service')
df['Multiple Lines'] = df['Multiple Lines'].replace(np.nan,'NO phone Service')
df['Avg Monthly Long Distance Charges'] = df['Avg Monthly Long Distance Charges'].replace(np.nan,0)
df['Avg Monthly GB Download'] = df['Avg Monthly GB Download'].replace(np.nan,0)
df['Multiple Lines']=df['Multiple Lines'].replace(np.nan,'No service')
df['Internet Service']= df['Internet Service'].replace(np.nan,'No service')
df['Online Security']= df['Online Security'].replace(np.nan,'No service')
df['Online Backup']= df['Online Backup'].replace(np.nan,'No service')
df['Device Protection Plan']= df['Device Protection Plan'].replace(np.nan,'No service')
df['Premium Tech Support']= df['Premium Tech Support'].replace(np.nan,'No service')
df['Streaming TV']= df['Streaming TV'].replace(np.nan,'No service')
df['Streaming Music']= df['Streaming Music'].replace(np.nan,'No service')
df['Unlimited Data']= df['Unlimited Data'].replace(np.nan,'No service')
df['Streaming Movies']= df['Streaming Movies'].replace(np.nan,'No service')

In [5]:
df = df.drop(['Churn Reason','Customer ID','Total Refunds','Zip Code','Latitude','Longitude','Paperless Billing','Total Extra Data Charges','Total Revenue','City'],axis=1)
df.head()

,Gender,Age,Married,Number of Dependents,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Streaming Movies,Streaming Music,Unlimited Data,Contract,Payment Method,Monthly Charge,Total Charges,Total Long Distance Charges,Customer Status,Churn Category
0,Female,37,Yes,0,2,9,None,Yes,42.39,No,...,No,No,Yes,One Year,Credit Card,65.6,593.30,381.51,Stayed,satisfied
1,Male,46,No,0,0,9,None,Yes,10.69,Yes,...,Yes,Yes,No,Month-to-Month,Credit Card,-4.0,542.40,96.21,Stayed,satisfied
2,Male,50,No,0,0,4,Offer E,Yes,33.65,No,...,No,No,Yes,Month-to-Month,Bank Withdrawal,73.9,280.85,134.60,Churned,Competitor
3,Male,78,Yes,0,1,13,Offer D,Yes,27.82,No,...,Yes,No,Yes,Month-to-Month,Bank Withdrawal,98.0,1237.85,361.66,Churned,Dissatisfaction
4,Female,75,Yes,0,3,3,None,Yes,7.38,No,...,No,No,Yes,Month-to-Month,Credit Card,83.9,267.40,22.14,Churned,Dissatisfaction

In [6]:
mylist = list(df.select_dtypes(include=['object']).columns)
print(mylist)

for column in mylist:
    df[column] = df[column].astype('category')

['Gender', 'Married', 'Offer', 'Phone Service', 'Multiple Lines', 'Internet Service', 'Internet Type', 'Online Security', 'Online Backup', 'Device Protection Plan', 'Premium Tech Support', 'Streaming TV', 'Streaming Movies', 'Streaming Music', 'Unlimited Data', 'Contract', 'Payment Method', 'Customer Status', 'Churn Category']

In [7]:
categorical_cols = list(df.select_dtypes(include=['category']).columns)

from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
df[categorical_cols] = df[categorical_cols].apply(lambda col: le.fit_transform(col))    
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

#One-hot-encode the categorical columns.
#Unfortunately outputs an array instead of dataframe.
array_hot_encoded = ohe.fit_transform(df[categorical_cols])

#Convert it to df
data_hot_encoded = pd.DataFrame(array_hot_encoded, index=df.index)

#Extract only the columns that didnt need to be encoded
data_other_cols = df.drop(columns=categorical_cols)

#Concatenate the two dataframes : 
data_out = pd.concat([data_hot_encoded, data_other_cols], axis=1)

In [8]:
df.head()

,Gender,Age,Married,Number of Dependents,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Streaming Movies,Streaming Music,Unlimited Data,Contract,Payment Method,Monthly Charge,Total Charges,Total Long Distance Charges,Customer Status,Churn Category
0,0,37,1,0,2,9,0,1,42.39,1,...,0,0,2,1,1,65.6,593.30,381.51,1,5
1,1,46,0,0,0,9,0,1,10.69,2,...,2,2,0,0,1,-4.0,542.40,96.21,1,5
2,1,50,0,0,0,4,5,1,33.65,1,...,0,0,2,0,0,73.9,280.85,134.60,0,1
3,1,78,1,0,1,13,4,1,27.82,1,...,2,0,2,0,0,98.0,1237.85,361.66,0,2
4,0,75,1,0,3,3,0,1,7.38,1,...,0,0,2,0,1,83.9,267.40,22.14,0,2