In [8]:
import psycopg2
import pandas as pd

In [9]:

engine = psycopg2.connect(
    database="project4",
    user="postgres",
    password="wVxBXGrDQ5JhHcA",
    host="bootcampproject4.ceqr0hcm5qlq.us-east-1.rds.amazonaws.com",
    port='5432'
)

In [12]:
Query = "select * from telecom_customer_churn"

In [13]:
data_df = pd.io.sql.read_sql(Query, engine)
print(data_df.head(2))
engine.close()

   customerid  gender  age married  number_of_dependents          city  \
0  0002-ORFBO  Female   37     Yes                     0  Frazier Park
1  0003-MKNFE    Male   46      No                     0      Glendale

   zipcode   latitude  longtitude  numberofreferrals  ...  paymentmethod  \
0    93225  34.827662 -118.999073                  2  ...    Credit Card
1    91206  34.162515 -118.203869                  0  ...    Credit Card

  monthlycharge totalcharges  totalrefunds totalextradatacharges  \
0          65.6        593.3          0.00                   0.0
1          -4.0        542.4         38.33                  10.0

  totallongdistancecharges totalrevenue  customerstatus churncategory  \
0                   381.51       974.81          Stayed          None
1                    96.21       610.28          Stayed          None

  churnreason
0        None
1        None

[2 rows x 38 columns]