In [38]:
import pandas as pd
import sklearn as sk
import numpy as np
import matplotlib as plt
from sklearn.preprocessing import normalize, MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.model_selection import KFold, GridSearchCV
from sklearn.metrics import silhouette_score

In [39]:
df = pd.read_csv("../Resources/telecom_customer_churn.csv")
df.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [40]:
df = df[df['Customer Status'] != 'Joined']

In [41]:
df = df.drop(['Customer ID','Churn Category','Churn Reason','Zip Code','Latitude','Longitude','Paperless Billing','City'],axis=1)
df.head()

,Gender,Age,Married,Number of Dependents,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Unlimited Data,Contract,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status
0,Female,37,Yes,0,2,9,None,Yes,42.39,No,...,Yes,One Year,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed
1,Male,46,No,0,0,9,None,Yes,10.69,Yes,...,No,Month-to-Month,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed
2,Male,50,No,0,0,4,Offer E,Yes,33.65,No,...,Yes,Month-to-Month,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned
3,Male,78,Yes,0,1,13,Offer D,Yes,27.82,No,...,Yes,Month-to-Month,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned
4,Female,75,Yes,0,3,3,None,Yes,7.38,No,...,Yes,Month-to-Month,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned

In [42]:
mylist = list(df.select_dtypes(include=['object']).columns)
print(mylist)

for column in mylist:
    df[column] = df[column].astype('category')

['Gender', 'Married', 'Offer', 'Phone Service', 'Multiple Lines', 'Internet Service', 'Internet Type', 'Online Security', 'Online Backup', 'Device Protection Plan', 'Premium Tech Support', 'Streaming TV', 'Streaming Movies', 'Streaming Music', 'Unlimited Data', 'Contract', 'Payment Method', 'Customer Status']

In [43]:
categorical_cols = list(df.select_dtypes(include=['category']).columns)

from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
df[categorical_cols] = df[categorical_cols].apply(lambda col: le.fit_transform(col))    
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

#One-hot-encode the categorical columns.
#Unfortunately outputs an array instead of dataframe.
array_hot_encoded = ohe.fit_transform(df[categorical_cols])

#Convert it to df
data_hot_encoded = pd.DataFrame(array_hot_encoded, index=df.index)

#Extract only the columns that didnt need to be encoded
data_other_cols = df.drop(columns=categorical_cols)

#Concatenate the two dataframes : 
data_out = pd.concat([data_hot_encoded, data_other_cols], axis=1)

In [44]:
df.dtypes

Gender                                 int32
Age                                    int64
Married                                int32
Number of Dependents                   int64
Number of Referrals                    int64
Tenure in Months                       int64
Offer                                  int32
Phone Service                          int32
Avg Monthly Long Distance Charges    float64
Multiple Lines                         int32
Internet Service                       int32
Internet Type                          int32
Avg Monthly GB Download              float64
Online Security                        int32
Online Backup                          int32
Device Protection Plan                 int32
Premium Tech Support                   int32
Streaming TV                           int32
Streaming Movies                       int32
Streaming Music                        int32
Unlimited Data                         int32
Contract                               int32
Payment Method                         int32
Monthly Charge                       float64
Total Charges                        float64
Total Refunds                        float64
Total Extra Data Charges               int64
Total Long Distance Charges          float64
Total Revenue                        float64
Customer Status                        int32
dtype: object

In [45]:
df = df.reset_index(drop=True)

In [46]:
df.head()

,Gender,Age,Married,Number of Dependents,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Unlimited Data,Contract,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status
0,0,37,1,0,2,9,0,1,42.39,0,...,1,1,1,65.6,593.30,0.00,0,381.51,974.81,1
1,1,46,0,0,0,9,0,1,10.69,1,...,0,0,1,-4.0,542.40,38.33,10,96.21,610.28,1
2,1,50,0,0,0,4,5,1,33.65,0,...,1,0,0,73.9,280.85,0.00,0,134.60,415.45,0
3,1,78,1,0,1,13,4,1,27.82,0,...,1,0,0,98.0,1237.85,0.00,0,361.66,1599.51,0
4,0,75,1,0,3,3,0,1,7.38,0,...,1,0,1,83.9,267.40,0.00,0,22.14,289.54,0

In [47]:
raw_data = df.drop(['Customer Status'],axis=1) #selector column
print(raw_data.head(5))

   Gender  Age  Married  Number of Dependents  Number of Referrals  \
0       0   37        1                     0                    2
1       1   46        0                     0                    0
2       1   50        0                     0                    0
3       1   78        1                     0                    1
4       0   75        1                     0                    3

   Tenure in Months  Offer  Phone Service  Avg Monthly Long Distance Charges  \
0                 9      0              1                              42.39
1                 9      0              1                              10.69
2                 4      5              1                              33.65
3                13      4              1                              27.82
4                 3      0              1                               7.38

   Multiple Lines  ...  Streaming Music  Unlimited Data  Contract  \
0               0  ...                0               1         1
1               1  ...                1               0         0
2               0  ...                0               1         0
3               0  ...                0               1         0
4               0  ...                0               1         0

   Payment Method  Monthly Charge  Total Charges  Total Refunds  \
0               1            65.6         593.30           0.00
1               1            -4.0         542.40          38.33
2               0            73.9         280.85           0.00
3               0            98.0        1237.85           0.00
4               1            83.9         267.40           0.00

   Total Extra Data Charges  Total Long Distance Charges  Total Revenue
0                         0                       381.51         974.81
1                        10                        96.21         610.28
2                         0                       134.60         415.45
3                         0                       361.66        1599.51
4                         0                        22.14         289.54

[5 rows x 29 columns]

In [51]:
raw_data = raw_data.dropna( axis=0, how='any', thresh=None, subset=None, inplace=False)

In [52]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4601 entries, 0 to 6587
Data columns (total 29 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             4601 non-null   int32
 1   Age                                4601 non-null   int64
 2   Married                            4601 non-null   int32
 3   Number of Dependents               4601 non-null   int64
 4   Number of Referrals                4601 non-null   int64
 5   Tenure in Months                   4601 non-null   int64
 6   Offer                              4601 non-null   int32
 7   Phone Service                      4601 non-null   int32
 8   Avg Monthly Long Distance Charges  4601 non-null   float64
 9   Multiple Lines                     4601 non-null   int32
 10  Internet Service                   4601 non-null   int32
 11  Internet Type                      4601 non-null   int32
 12  Avg Monthly GB Download            4601 non-null   float64
 13  Online Security                    4601 non-null   int32
 14  Online Backup                      4601 non-null   int32
 15  Device Protection Plan             4601 non-null   int32
 16  Premium Tech Support               4601 non-null   int32
 17  Streaming TV                       4601 non-null   int32
 18  Streaming Movies                   4601 non-null   int32
 19  Streaming Music                    4601 non-null   int32
 20  Unlimited Data                     4601 non-null   int32
 21  Contract                           4601 non-null   int32
 22  Payment Method                     4601 non-null   int32
 23  Monthly Charge                     4601 non-null   float64
 24  Total Charges                      4601 non-null   float64
 25  Total Refunds                      4601 non-null   float64
 26  Total Extra Data Charges           4601 non-null   int64
 27  Total Long Distance Charges        4601 non-null   float64
 28  Total Revenue                      4601 non-null   float64
dtypes: float64(7), int32(17), int64(5)
memory usage: 772.8 KB

In [53]:
norm_data = normalize(raw_data, norm="l1", axis=0)
norm_data = pd.DataFrame(columns=raw_data.columns, data=norm_data)

scaler = MinMaxScaler()
m_norm_data = normalize(raw_data, norm="max", axis=0)
m_norm_data = pd.DataFrame(columns=raw_data.columns, data=m_norm_data)  # convert back to a dataframe
#norm_data["drinks"] = m_norm_data["drinks"]

In [54]:
norm_data = pd.DataFrame(columns=raw_data.columns, data=norm_data)

print(norm_data.head(5))
print(norm_data.info())

     Gender       Age   Married  Number of Dependents  Number of Referrals  \
0  0.000000  0.000168  0.000433                   0.0             0.000223
1  0.000435  0.000209  0.000000                   0.0             0.000000
2  0.000435  0.000227  0.000000                   0.0             0.000000
3  0.000435  0.000354  0.000433                   0.0             0.000112
4  0.000000  0.000340  0.000433                   0.0             0.000335

   Tenure in Months     Offer  Phone Service  \
0          0.000056  0.000000       0.000217
1          0.000056  0.000000       0.000217
2          0.000025  0.000804       0.000217
3          0.000082  0.000643       0.000217
4          0.000019  0.000000       0.000217

   Avg Monthly Long Distance Charges  Multiple Lines  ...  Streaming Music  \
0                           0.000360        0.000000  ...         0.000000
1                           0.000091        0.000386  ...         0.000463
2                           0.000286        0.000000  ...         0.000000
3                           0.000236        0.000000  ...         0.000000
4                           0.000063        0.000000  ...         0.000000

   Unlimited Data  Contract  Payment Method  Monthly Charge  Total Charges  \
0        0.000252  0.000321        0.000549        0.000175       0.000042
1        0.000000  0.000000        0.000549       -0.000011       0.000039
2        0.000252  0.000000        0.000000        0.000197       0.000020
3        0.000252  0.000000        0.000000        0.000262       0.000088
4        0.000252  0.000000        0.000549        0.000224       0.000019

   Total Refunds  Total Extra Data Charges  Total Long Distance Charges  \
0       0.000000                  0.000000                     0.000093
1       0.003851                  0.000243                     0.000024
2       0.000000                  0.000000                     0.000033
3       0.000000                  0.000000                     0.000088
4       0.000000                  0.000000                     0.000005

   Total Revenue
0       0.000054
1       0.000034
2       0.000023
3       0.000088
4       0.000016

[5 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4601 entries, 0 to 4600
Data columns (total 29 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             4601 non-null   float64
 1   Age                                4601 non-null   float64
 2   Married                            4601 non-null   float64
 3   Number of Dependents               4601 non-null   float64
 4   Number of Referrals                4601 non-null   float64
 5   Tenure in Months                   4601 non-null   float64
 6   Offer                              4601 non-null   float64
 7   Phone Service                      4601 non-null   float64
 8   Avg Monthly Long Distance Charges  4601 non-null   float64
 9   Multiple Lines                     4601 non-null   float64
 10  Internet Service                   4601 non-null   float64
 11  Internet Type                      4601 non-null   float64
 12  Avg Monthly GB Download            4601 non-null   float64
 13  Online Security                    4601 non-null   float64
 14  Online Backup                      4601 non-null   float64
 15  Device Protection Plan             4601 non-null   float64
 16  Premium Tech Support               4601 non-null   float64
 17  Streaming TV                       4601 non-null   float64
 18  Streaming Movies                   4601 non-null   float64
 19  Streaming Music                    4601 non-null   float64
 20  Unlimited Data                     4601 non-null   float64
 21  Contract                           4601 non-null   float64
 22  Payment Method                     4601 non-null   float64
 23  Monthly Charge                     4601 non-null   float64
 24  Total Charges                      4601 non-null   float64
 25  Total Refunds                      4601 non-null   float64
 26  Total Extra Data Charges           4601 non-null   float64
 27  Total Long Distance Charges        4601 non-null   float64
 28  Total Revenue                      4601 non-null   float64
dtypes: float64(29)
memory usage: 1.0 MB
None

In [55]:
corr_matrix = norm_data.corr()
print(corr_matrix)

                                     Gender       Age   Married  \
Gender                             1.000000  0.008184  0.035431
Age                                0.008184  1.000000 -0.002949
Married                            0.035431 -0.002949  1.000000
Number of Dependents               0.003985 -0.123737  0.295306
Number of Referrals                0.014248 -0.027765  0.655283
Tenure in Months                   0.013006 -0.021279  0.380866
Offer                              0.003454 -0.030862 -0.128195
Phone Service                           NaN       NaN       NaN
Avg Monthly Long Distance Charges  0.016399 -0.020600 -0.008848
Multiple Lines                     0.001179  0.081622  0.133245
Internet Service                        NaN       NaN       NaN
Internet Type                      0.000170  0.138604 -0.031885
Avg Monthly GB Download           -0.017274 -0.570145  0.070406
Online Security                   -0.020685 -0.092420  0.170603
Online Backup                     -0.007695 -0.022166  0.168678
Device Protection Plan            -0.004208 -0.024892  0.179245
Premium Tech Support              -0.015673 -0.099010  0.148017
Streaming TV                      -0.001501  0.007440  0.137926
Streaming Movies                  -0.006283  0.026420  0.134880
Streaming Music                   -0.000258 -0.259343  0.096335
Unlimited Data                     0.001007 -0.007554  0.034908
Contract                           0.005309  0.032089  0.265142
Payment Method                    -0.011153 -0.096019  0.003442
Monthly Charge                    -0.020892  0.073525  0.141772
Total Charges                      0.009255  0.000143  0.363612
Total Refunds                      0.004854  0.022841  0.033282
Total Extra Data Charges           0.000584  0.009887  0.015526
Total Long Distance Charges        0.024718 -0.024111  0.272922
Total Revenue                      0.014250 -0.006698  0.362150

                                   Number of Dependents  Number of Referrals  \
Gender                                         0.003985             0.014248
Age                                           -0.123737            -0.027765
Married                                        0.295306             0.655283
Number of Dependents                           1.000000             0.275664
Number of Referrals                            0.275664             1.000000
Tenure in Months                               0.136752             0.347484
Offer                                         -0.025926            -0.105975
Phone Service                                       NaN                  NaN
Avg Monthly Long Distance Charges             -0.006686            -0.003195
Multiple Lines                                -0.006877             0.078902
Internet Service                                    NaN                  NaN
Internet Type                                 -0.083638            -0.060365
Avg Monthly GB Download                        0.298418             0.078242
Online Security                                0.117578             0.186102
Online Backup                                  0.080765             0.156921
Device Protection Plan                         0.057396             0.156020
Premium Tech Support                           0.093996             0.150945
Streaming TV                                   0.020820             0.113092
Streaming Movies                               0.000099             0.085705
Streaming Music                                0.038072             0.072992
Unlimited Data                                 0.001436             0.043669
Contract                                       0.109841             0.294757
Payment Method                                 0.034119             0.038595
Monthly Charge                                -0.013147             0.080966
Total Charges                                  0.117032             0.317694
Total Refunds                                  0.012963             0.021290
Total Extra Data Charges                       0.009744            -0.001067
Total Long Distance Charges                    0.095907             0.241283
Total Revenue                                  0.118888             0.317103

                                   Tenure in Months     Offer  Phone Service  \
Gender                                     0.013006  0.003454            NaN
Age                                       -0.021279 -0.030862            NaN
Married                                    0.380866 -0.128195            NaN
Number of Dependents                       0.136752 -0.025926            NaN
Number of Referrals                        0.347484 -0.105975            NaN
Tenure in Months                           1.000000 -0.329754            NaN
Offer                                     -0.329754  1.000000            NaN
Phone Service                                   NaN       NaN            NaN
Avg Monthly Long Distance Charges          0.008730  0.003585            NaN
Multiple Lines                             0.338075 -0.097153            NaN
Internet Service                                NaN       NaN            NaN
Internet Type                             -0.011185 -0.001648            NaN
Avg Monthly GB Download                    0.043394  0.009471            NaN
Online Security                            0.384070 -0.114643            NaN
Online Backup                              0.430115 -0.136965            NaN
Device Protection Plan                     0.410029 -0.132688            NaN
Premium Tech Support                       0.376772 -0.126463            NaN
Streaming TV                               0.305769 -0.105873            NaN
Streaming Movies                           0.317243 -0.117617            NaN
Streaming Music                            0.251566 -0.074049            NaN
Unlimited Data                            -0.002083  0.003482            NaN
Contract                                   0.671211 -0.221076            NaN
Payment Method                             0.045260  0.010892            NaN
Monthly Charge                             0.354489 -0.108866            NaN
Total Charges                              0.954957 -0.311804            NaN
Total Refunds                              0.019622 -0.041120            NaN
Total Extra Data Charges                   0.076327 -0.028751            NaN
Total Long Distance Charges                0.718643 -0.233618            NaN
Total Revenue                              0.952163 -0.310542            NaN

                                   Avg Monthly Long Distance Charges  \
Gender                                                      0.016399
Age                                                        -0.020600
Married                                                    -0.008848
Number of Dependents                                       -0.006686
Number of Referrals                                        -0.003195
Tenure in Months                                            0.008730
Offer                                                       0.003585
Phone Service                                                    NaN
Avg Monthly Long Distance Charges                           1.000000
Multiple Lines                                             -0.008910
Internet Service                                                 NaN
Internet Type                                              -0.003735
Avg Monthly GB Download                                     0.014288
Online Security                                             0.013609
Online Backup                                               0.007906
Device Protection Plan                                     -0.008188
Premium Tech Support                                       -0.012227
Streaming TV                                                0.006637
Streaming Movies                                            0.018645
Streaming Music                                             0.030851
Unlimited Data                                             -0.012805
Contract                                                   -0.008827
Payment Method                                             -0.010779
Monthly Charge                                              0.009171
Total Charges                                               0.010218
Total Refunds                                              -0.034102
Total Extra Data Charges                                    0.021220
Total Long Distance Charges                                 0.578771
Total Revenue                                               0.172495

                                   Multiple Lines  ...  Streaming Music  \
Gender                                   0.001179  ...        -0.000258
Age                                      0.081622  ...        -0.259343
Married                                  0.133245  ...         0.096335
Number of Dependents                    -0.006877  ...         0.038072
Number of Referrals                      0.078902  ...         0.072992
Tenure in Months                         0.338075  ...         0.251566
Offer                                   -0.097153  ...        -0.074049
Phone Service                                 NaN  ...              NaN
Avg Monthly Long Distance Charges       -0.008910  ...         0.030851
Multiple Lines                           1.000000  ...         0.131440
Internet Service                              NaN  ...              NaN
Internet Type                            0.189583  ...         0.068361
Avg Monthly GB Download                 -0.026880  ...         0.155175
Online Security                          0.043502  ...         0.075133
Online Backup                            0.147115  ...         0.108898
Device Protection Plan                   0.153895  ...         0.221520
Premium Tech Support                     0.045103  ...         0.175983
Streaming TV                             0.200395  ...         0.330305
Streaming Movies                         0.210674  ...         0.806192
Streaming Music                          0.131440  ...         1.000000
Unlimited Data                          -0.007756  ...         0.006118
Contract                                 0.164608  ...         0.205030
Payment Method                          -0.079481  ...        -0.018896
Monthly Charge                           0.377655  ...         0.386701
Total Charges                            0.398229  ...         0.335499
Total Refunds                            0.029694  ...        -0.018197
Total Extra Data Charges                 0.040719  ...         0.022699
Total Long Distance Charges              0.237217  ...         0.187208
Total Revenue                            0.379366  ...         0.316029

                                   Unlimited Data  Contract  Payment Method  \
Gender                                   0.001007  0.005309       -0.011153
Age                                     -0.007554  0.032089       -0.096019
Married                                  0.034908  0.265142        0.003442
Number of Dependents                     0.001436  0.109841        0.034119
Number of Referrals                      0.043669  0.294757        0.038595
Tenure in Months                        -0.002083  0.671211        0.045260
Offer                                    0.003482 -0.221076        0.010892
Phone Service                                 NaN       NaN             NaN
Avg Monthly Long Distance Charges       -0.012805 -0.008827       -0.010779
Multiple Lines                          -0.007756  0.164608       -0.079481
Internet Service                              NaN       NaN             NaN
Internet Type                            0.004912 -0.134068       -0.205489
Avg Monthly GB Download                 -0.004215  0.025487        0.035909
Online Security                          0.011921  0.367192        0.136914
Online Backup                           -0.008613  0.304237        0.026104
Device Protection Plan                   0.011266  0.356936        0.036192
Premium Tech Support                    -0.005898  0.414346        0.121377
Streaming TV                             0.019216  0.240013       -0.070102
Streaming Movies                         0.004996  0.259264       -0.067132
Streaming Music                          0.006118  0.205030       -0.018896
Unlimited Data                           1.000000  0.020871        0.010924
Contract                                 0.020871  1.000000        0.101414
Payment Method                           0.010924  0.101414        1.000000
Monthly Charge                           0.003564  0.200380       -0.142205
Total Charges                            0.000406  0.637616        0.006886
Total Refunds                           -0.019380  0.035190       -0.019612
Total Extra Data Charges                -0.786075  0.024257       -0.020093
Total Long Distance Charges             -0.008366  0.467679        0.020255
Total Revenue                           -0.009369  0.631993        0.011003

                                   Monthly Charge  Total Charges  \
Gender                                  -0.020892       0.009255
Age                                      0.073525       0.000143
Married                                  0.141772       0.363612
Number of Dependents                    -0.013147       0.117032
Number of Referrals                      0.080966       0.317694
Tenure in Months                         0.354489       0.954957
Offer                                   -0.108866      -0.311804
Phone Service                                 NaN            NaN
Avg Monthly Long Distance Charges        0.009171       0.010218
Multiple Lines                           0.377655       0.398229
Internet Service                              NaN            NaN
Internet Type                            0.513658       0.153015
Avg Monthly GB Download                 -0.014771       0.038329
Online Security                          0.071292       0.346898
Online Backup                            0.241449       0.443244
Device Protection Plan                   0.322565       0.448428
Premium Tech Support                     0.136070       0.368287
Streaming TV                             0.517468       0.417850
Streaming Movies                         0.516375       0.426836
Streaming Music                          0.386701       0.335499
Unlimited Data                           0.003564       0.000406
Contract                                 0.200380       0.637616
Payment Method                          -0.142205       0.006886
Monthly Charge                           1.000000       0.521153
Total Charges                            0.521153       1.000000
Total Refunds                           -0.007993       0.012261
Total Extra Data Charges                 0.028558       0.068599
Total Long Distance Charges              0.256576       0.686967
Total Revenue                            0.481082       0.978387

                                   Total Refunds  Total Extra Data Charges  \
Gender                                  0.004854                  0.000584
Age                                     0.022841                  0.009887
Married                                 0.033282                  0.015526
Number of Dependents                    0.012963                  0.009744
Number of Referrals                     0.021290                 -0.001067
Tenure in Months                        0.019622                  0.076327
Offer                                  -0.041120                 -0.028751
Phone Service                                NaN                       NaN
Avg Monthly Long Distance Charges      -0.034102                  0.021220
Multiple Lines                          0.029694                  0.040719
Internet Service                             NaN                       NaN
Internet Type                           0.015099                  0.003041
Avg Monthly GB Download                -0.007723                  0.010142
Online Security                        -0.004721                  0.011155
Online Backup                           0.002566                  0.039573
Device Protection Plan                  0.003065                  0.013035
Premium Tech Support                    0.024512                  0.033832
Streaming TV                            0.004453                  0.006667
Streaming Movies                       -0.006792                  0.036366
Streaming Music                        -0.018197                  0.022699
Unlimited Data                         -0.019380                 -0.786075
Contract                                0.035190                  0.024257
Payment Method                         -0.019612                 -0.020093
Monthly Charge                         -0.007993                  0.028558
Total Charges                           0.012261                  0.068599
Total Refunds                           1.000000                  0.021756
Total Extra Data Charges                0.021756                  1.000000
Total Long Distance Charges            -0.003787                  0.073473
Total Revenue                           0.006015                  0.083861

                                   Total Long Distance Charges  Total Revenue
Gender                                                0.024718       0.014250
Age                                                  -0.024111      -0.006698
Married                                               0.272922       0.362150
Number of Dependents                                  0.095907       0.118888
Number of Referrals                                   0.241283       0.317103
Tenure in Months                                      0.718643       0.952163
Offer                                                -0.233618      -0.310542
Phone Service                                              NaN            NaN
Avg Monthly Long Distance Charges                     0.578771       0.172495
Multiple Lines                                        0.237217       0.379366
Internet Service                                           NaN            NaN
Internet Type                                        -0.007294       0.117710
Avg Monthly GB Download                               0.031720       0.039122
Online Security                                       0.283895       0.352240
Online Backup                                         0.318846       0.437830
Device Protection Plan                                0.278201       0.430107
Premium Tech Support                                  0.256561       0.361363
Streaming TV                                          0.222090       0.390185
Streaming Movies                                      0.232431       0.400463
Streaming Music                                       0.187208       0.316029
Unlimited Data                                       -0.008366      -0.009369
Contract                                              0.467679       0.631993
Payment Method                                        0.020255       0.011003
Monthly Charge                                        0.256576       0.481082
Total Charges                                         0.686967       0.978387
Total Refunds                                        -0.003787       0.006015
Total Extra Data Charges                              0.073473       0.083861
Total Long Distance Charges                           1.000000       0.822221
Total Revenue                                         0.822221       1.000000

[29 rows x 29 columns]

In [56]:
RAND_STATE=50  # for reproducibility and consistency
folds=3
k_fold = KFold(n_splits=folds, shuffle=True, random_state=RAND_STATE)  # setting generator for k-fold splitting

In [57]:
# Dictionary of hyperparameters to iterate through
# GridSearchCV will try every combination of these hyperparameters and
# return the model with the best score via KFold validation
hyperparams = {
    "n_clusters": [2, 3],
    "n_init": [10, 15, 20],
    "max_iter": [100, 200, 300, 400, 500],
    "tol": [.0000001, .000001, .00001, .0001],
}

k_means = KMeans()  # sets jobs equal to number of cores

ensemble = GridSearchCV(
    estimator=k_means,
    param_grid=hyperparams,
    cv=k_fold,
    n_jobs=-1
)

In [58]:
ensemble.fit(norm_data)

GridSearchCV(cv=KFold(n_splits=3, random_state=50, shuffle=True),
             estimator=KMeans(), n_jobs=-1,
             param_grid={'max_iter': [100, 200, 300, 400, 500],
                         'n_clusters': [2, 3], 'n_init': [10, 15, 20],
                         'tol': [1e-07, 1e-06, 1e-05, 0.0001]})

In [66]:
GridSearchCV(cv=KFold(n_splits=3, random_state=50, shuffle=True),
       error_score='raise',
       estimator=KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=8, n_init=10, 
    random_state=None, tol=0.0001, verbose=0),
       n_jobs=-1,
       param_grid={'max_iter': [100, 200, 300, 400, 500], 'n_init': [10, 15, 20], 'tol': [1e-07, 1e-06, 1e-05, 0.0001], 'n_clusters': [2, 3]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

GridSearchCV(cv=KFold(n_splits=3, random_state=50, shuffle=True),
             error_score='raise', estimator=KMeans(), n_jobs=-1,
             param_grid={'max_iter': [100, 200, 300, 400, 500],
                         'n_clusters': [2, 3], 'n_init': [10, 15, 20],
                         'tol': [1e-07, 1e-06, 1e-05, 0.0001]},
             return_train_score=True)

In [67]:
# Generate labels for data with model with raw data, compute score
labels = ensemble.predict(norm_data)
score = silhouette_score(norm_data, labels)
print(score)
print(ensemble.best_params_)

0.45378809510274337
{'max_iter': 200, 'n_clusters': 3, 'n_init': 10, 'tol': 1e-06}

In [68]:
# hyperparameters to try out for binary classification with KNN
bin_params = {
    "n_init": [10, 15, 20],
    "max_iter": [100, 200, 300, 400, 500],
    "tol": [.0000001, .000001, .00001, .0001],
}

bin_k_means = KMeans(n_clusters=2)  # set 2 clusters

binary_ensemble = GridSearchCV(
    estimator=bin_k_means,
    param_grid=bin_params,
    cv=k_fold,
    n_jobs=-1
)

binary_ensemble.fit(norm_data)  # fit model to data and return best model

# Generate labels for data with model with raw data, compute score
bin_labels = binary_ensemble.predict(norm_data)
bin_score = silhouette_score(norm_data, bin_labels)

# Output score to user
print(bin_score)
print(binary_ensemble.best_params_)

0.5229315817525568
{'max_iter': 100, 'n_init': 10, 'tol': 1e-07}