In [6]:
import psycopg2
import  configparser
import pandas as pd

In [7]:
#
# Reading configuration file for passwords.

config = configparser.ConfigParser()
config.read('../../my_config.ini')
 
# get all the connections
config.sections()
DBPass = config.get('rds', 'password')

<img title="a title" alt="Alt text" src="/images/AWS_RDS.png">

In [8]:

engine = psycopg2.connect(
    database    =   "project4",
    user        =   "postgres",
    password    =   DBPass,
    host        =   "bootcampproject4.ceqr0hcm5qlq.us-east-1.rds.amazonaws.com",
    port        =   '5432'
)

Query = "select * from telecom_customer_churn"

data_df = pd.io.sql.read_sql(Query, engine)
engine.close()

data_df.head(2)

,customerid,gender,age,married,number_of_dependents,city,zipcode,latitude,longtitude,numberofreferrals,...,paymentmethod,monthlycharge,totalcharges,totalrefunds,totalextradatacharges,totallongdistancecharges,totalrevenue,customerstatus,churncategory,churnreason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.3,0.00,0.0,381.51,974.81,Stayed,None,None
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.4,38.33,10.0,96.21,610.28,Stayed,None,None