In [118]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [119]:
# read csv file for data set

df = pd.read_csv("../Resources/telecom_customer_churn.csv")
df.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [120]:
# removed joined from customer category
df = df[df['Customer Status'] != 'Joined']

In [121]:
# Fill in default values from nan values

df['Churn Category']                    = df['Churn Category'].replace(np.nan,'satisfied')
df['Internet Type']                     = df['Internet Type'].replace(np.nan,'No')
df['Multiple Lines']                    = df['Multiple Lines'].replace(np.nan,'No')
df['Avg Monthly Long Distance Charges'] = df['Avg Monthly Long Distance Charges'].replace(np.nan,0)
df['Avg Monthly GB Download']           = df['Avg Monthly GB Download'].replace(np.nan,0)
df['Multiple Lines']                    = df['Multiple Lines'].replace(np.nan,'No')
df['Internet Service']                  = df['Internet Service'].replace(np.nan,'No')
df['Online Security']                   = df['Online Security'].replace(np.nan,'No')
df['Online Backup']                     = df['Online Backup'].replace(np.nan,'No')
df['Device Protection Plan']            = df['Device Protection Plan'].replace(np.nan,'No')
df['Premium Tech Support']              = df['Premium Tech Support'].replace(np.nan,'No')
df['Streaming TV']                      = df['Streaming TV'].replace(np.nan,'No')
df['Streaming Music']                   = df['Streaming Music'].replace(np.nan,'No')
df['Unlimited Data']                    = df['Unlimited Data'].replace(np.nan,'No')
df['Streaming Movies']                  = df['Streaming Movies'].replace(np.nan,'No')

In [122]:
print(df.columns)
df.info()

Index(['Customer ID', 'Gender', 'Age', 'Married', 'Number of Dependents',
       'City', 'Zip Code', 'Latitude', 'Longitude', 'Number of Referrals',
       'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Customer Status', 'Churn Category', 'Churn Reason'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6589 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        6589 non-null   object
 1   Gender                             6589 non-null   object
 2   Age                                6589 non-null   int64
 3   Married                            6589 non-null   object
 4   Number of Dependents               6589 non-null   int64
 5   City                               6589 non-null   object
 6   Zip Code                           6589 non-null   int64
 7   Latitude                           6589 non-null   float64
 8   Longitude                          6589 non-null   float64
 9   Number of Referrals                6589 non-null   int64
 10  Tenure in Months                   6589 non-null   int64
 11  Offer                              6589 non-null   object
 12  Phone Service                      6589 non-null   object
 13  Avg Monthly Long Distance Charges  6589 non-null   float64
 14  Multiple Lines                     6589 non-null   object
 15  Internet Service                   6589 non-null   object
 16  Internet Type                      6589 non-null   object
 17  Avg Monthly GB Download            6589 non-null   float64
 18  Online Security                    6589 non-null   object
 19  Online Backup                      6589 non-null   object
 20  Device Protection Plan             6589 non-null   object
 21  Premium Tech Support               6589 non-null   object
 22  Streaming TV                       6589 non-null   object
 23  Streaming Movies                   6589 non-null   object
 24  Streaming Music                    6589 non-null   object
 25  Unlimited Data                     6589 non-null   object
 26  Contract                           6589 non-null   object
 27  Paperless Billing                  6589 non-null   object
 28  Payment Method                     6589 non-null   object
 29  Monthly Charge                     6589 non-null   float64
 30  Total Charges                      6589 non-null   float64
 31  Total Refunds                      6589 non-null   float64
 32  Total Extra Data Charges           6589 non-null   int64
 33  Total Long Distance Charges        6589 non-null   float64
 34  Total Revenue                      6589 non-null   float64
 35  Customer Status                    6589 non-null   object
 36  Churn Category                     6589 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB

0       0
1       0
2       5
3       4
4       0
       ..
7037    0
7038    4
7039    4
7041    1
7042    0
Name: Offer, Length: 6589, dtype: int32

In [123]:
mylist = list(df.select_dtypes(include=['object']).columns)
print(mylist)

for column in mylist:
    df[column] = df[column].astype('category')

['Customer ID', 'Gender', 'Married', 'City', 'Offer', 'Phone Service', 'Multiple Lines', 'Internet Service', 'Internet Type', 'Online Security', 'Online Backup', 'Device Protection Plan', 'Premium Tech Support', 'Streaming TV', 'Streaming Movies', 'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing', 'Payment Method', 'Customer Status', 'Churn Category', 'Churn Reason']

In [124]:
categorical_cols = list(df.select_dtypes(include=['category']).columns)

from sklearn.preprocessing import LabelEncoder
# set labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
df[categorical_cols] = df[categorical_cols].apply(lambda col: le.fit_transform(col))    
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

#One-hot-encode the categorical columns.
#Unfortunately outputs an array instead of dataframe.
array_hot_encoded = ohe.fit_transform(df[categorical_cols])

#Convert it to df
data_hot_encoded = pd.DataFrame(array_hot_encoded, index=df.index)

#Extract only the columns that didnt need to be encoded
data_other_cols = df.drop(columns=categorical_cols)

#Concatenate the two dataframes : 
data_out = pd.concat([data_hot_encoded, data_other_cols], axis=1)

df.dtypes

Customer ID                            int32
Gender                                 int32
Age                                    int64
Married                                int32
Number of Dependents                   int64
City                                   int32
Zip Code                               int64
Latitude                             float64
Longitude                            float64
Number of Referrals                    int64
Tenure in Months                       int64
Offer                                  int32
Phone Service                          int32
Avg Monthly Long Distance Charges    float64
Multiple Lines                         int32
Internet Service                       int32
Internet Type                          int32
Avg Monthly GB Download              float64
Online Security                        int32
Online Backup                          int32
Device Protection Plan                 int32
Premium Tech Support                   int32
Streaming TV                           int32
Streaming Movies                       int32
Streaming Music                        int32
Unlimited Data                         int32
Contract                               int32
Paperless Billing                      int32
Payment Method                         int32
Monthly Charge                       float64
Total Charges                        float64
Total Refunds                        float64
Total Extra Data Charges               int64
Total Long Distance Charges          float64
Total Revenue                        float64
Customer Status                        int32
Churn Category                         int32
Churn Reason                           int32
dtype: object

In [125]:
# create dataframe based on discussion and analysis
lr_df = df[['Offer','Online Security','Premium Tech Support',
            'Tenure in Months',  'Number of Referrals', 'Contract', 'Monthly Charge',
            'Number of Dependents', 'Age', 'Paperless Billing', 'Unlimited Data',
            'Married']]

# check values for HTML form
print(lr_df.max())
# print(lr_df.min())
# print(lr_df['Offer'])

Offer                     5.00
Online Security           1.00
Premium Tech Support      1.00
Tenure in Months         72.00
Number of Referrals      11.00
Contract                  2.00
Monthly Charge          118.75
Number of Dependents      9.00
Age                      80.00
Paperless Billing         1.00
Unlimited Data            1.00
Married                   1.00
dtype: float64

In [126]:
from sklearn.model_selection import train_test_split

X = lr_df
y = df["Customer Status"]
print(X.shape, y.shape)
y.dtype

# print(X)

(6589, 12) (6589,)

dtype('int32')

https://www.nickmccullum.com/python-machine-learning/logistic-regression-python/#adding-dummy-variables-to-the-pandas-dataframe

In [127]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

print (X_train)

      Offer  Online Security  Premium Tech Support  Tenure in Months  \
4541      0                0                     0                 4
4976      1                1                     1                71
3547      0                0                     0                 6
6646      0                0                     0                 1
516       2                1                     0                52
...     ...              ...                   ...               ...
4037      2                0                     1                41
5552      0                0                     0                 2
5589      2                0                     0                53
5760      0                1                     0                43
909       0                0                     0                53

      Number of Referrals  Contract  Monthly Charge  Number of Dependents  \
4541                    0         0           55.30                     0
4976                    9         2           85.45                     3
3547                    0         0           44.75                     0
6646                    1         0           44.70                     0
516                     0         1           91.25                     0
...                   ...       ...             ...                   ...
4037                    0         2           99.65                     0
5552                    0         0           75.55                     0
5589                   10         1           19.55                     1
5760                    0         0           63.95                     1
909                     1         0           98.40                     0

      Age  Paperless Billing  Unlimited Data  Married
4541   33                  1               1        0
4976   35                  0               1        1
3547   35                  0               0        0
6646   21                  0               1        1
516    43                  0               1        0
...   ...                ...             ...      ...
4037   29                  1               1        0
5552   32                  1               1        0
5589   49                  0               0        1
5760   26                  1               1        0
909    45                  1               1        1

[4941 rows x 12 columns]

In [138]:
from sklearn.preprocessing import StandardScaler,LabelEncoder, MinMaxScaler


# # scale the data
X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

,Offer,Online Security,Premium Tech Support,Tenure in Months,Number of Referrals,Contract,Monthly Charge,Number of Dependents,Age,Paperless Billing,Unlimited Data,Married
2059,5,0,0,2,0,0,45.15,0,56,1,1,0
4323,0,0,0,26,10,1,20.05,0,49,1,0,1
1544,0,1,1,69,10,2,46.25,2,29,0,1,1
2644,0,1,0,65,6,1,100.75,0,66,1,1,1
4029,0,1,1,43,11,1,-2.00,1,59,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3799,2,0,0,52,0,1,80.20,0,43,1,1,0
3596,0,1,1,55,5,2,56.80,0,28,0,1,1
4687,1,1,1,71,3,2,58.65,0,31,0,1,1
1719,0,0,0,1,1,0,69.55,0,76,1,1,1
1036,0,0,0,29,0,0,19.85,0,46,0,0,1

In [129]:
# Train the model

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.844161100991702
Testing Data Score: 0.8446601941747572

In [130]:
predictions = model.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 1 1 1 1 1 0 1 1 1]
First 10 Actual labels: [0, 1, 1, 1, 1, 1, 0, 1, 1, 1]

In [153]:
# create dataframe from predictions
predictions = model.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

0       0
1       1
2       1
3       1
4       1
       ..
1643    1
1644    1
1645    1
1646    0
1647    0
Length: 1648, dtype: int64

https://towardsdatascience.com/tuning-the-hyperparameters-of-your-machine-learning-model-using-gridsearchcv-7fc2bb76ff27

In [132]:
# # Hyperparameter Tuning by Creating the GridSearchCV model - here for reference as score is 1
from sklearn.model_selection import GridSearchCV

param_grid = {'C': np.logspace(-3,3,7),
              'solver'  : ['newton-cg', 'lbfgs', 'liblinear'],
            'max_iter':[1000],}

grid = GridSearchCV(model, param_grid, verbose=3)

grid.fit(X_train, y_train)

print(grid.best_params_)
print(grid.best_score_)

Fitting 5 folds for each of 21 candidates, totalling 105 fits
[CV 1/5] END C=0.001, max_iter=1000, solver=newton-cg;, score=0.819 total time=   0.0s
[CV 2/5] END C=0.001, max_iter=1000, solver=newton-cg;, score=0.808 total time=   0.0s
[CV 3/5] END C=0.001, max_iter=1000, solver=newton-cg;, score=0.807 total time=   0.1s
[CV 4/5] END C=0.001, max_iter=1000, solver=newton-cg;, score=0.808 total time=   0.0s
[CV 5/5] END C=0.001, max_iter=1000, solver=newton-cg;, score=0.839 total time=   0.0s
[CV 1/5] END C=0.001, max_iter=1000, solver=lbfgs;, score=0.819 total time=   0.0s
[CV 2/5] END C=0.001, max_iter=1000, solver=lbfgs;, score=0.808 total time=   0.0s
[CV 3/5] END C=0.001, max_iter=1000, solver=lbfgs;, score=0.806 total time=   0.0s
[CV 4/5] END C=0.001, max_iter=1000, solver=lbfgs;, score=0.808 total time=   0.0s
[CV 5/5] END C=0.001, max_iter=1000, solver=lbfgs;, score=0.839 total time=   0.0s
[CV 1/5] END C=0.001, max_iter=1000, solver=liblinear;, score=0.820 total time=   0.0s
[CV 2/5] END C=0.001, max_iter=1000, solver=liblinear;, score=0.816 total time=   0.0s
[CV 3/5] END C=0.001, max_iter=1000, solver=liblinear;, score=0.812 total time=   0.0s
[CV 4/5] END C=0.001, max_iter=1000, solver=liblinear;, score=0.818 total time=   0.0s
[CV 5/5] END C=0.001, max_iter=1000, solver=liblinear;, score=0.839 total time=   0.0s
[CV 1/5] END C=0.01, max_iter=1000, solver=newton-cg;, score=0.832 total time=   0.0s
[CV 2/5] END C=0.01, max_iter=1000, solver=newton-cg;, score=0.831 total time=   0.0s
[CV 3/5] END C=0.01, max_iter=1000, solver=newton-cg;, score=0.830 total time=   0.0s
[CV 4/5] END C=0.01, max_iter=1000, solver=newton-cg;, score=0.824 total time=   0.0s
[CV 5/5] END C=0.01, max_iter=1000, solver=newton-cg;, score=0.860 total time=   0.0s
[CV 1/5] END C=0.01, max_iter=1000, solver=lbfgs;, score=0.832 total time=   0.0s
[CV 2/5] END C=0.01, max_iter=1000, solver=lbfgs;, score=0.831 total time=   0.0s
[CV 3/5] END C=0.01, max_iter=1000, solver=lbfgs;, score=0.830 total time=   0.0s
[CV 4/5] END C=0.01, max_iter=1000, solver=lbfgs;, score=0.824 total time=   0.0s
[CV 5/5] END C=0.01, max_iter=1000, solver=lbfgs;, score=0.860 total time=   0.0s
[CV 1/5] END C=0.01, max_iter=1000, solver=liblinear;, score=0.836 total time=   0.0s
[CV 2/5] END C=0.01, max_iter=1000, solver=liblinear;, score=0.834 total time=   0.0s
[CV 3/5] END C=0.01, max_iter=1000, solver=liblinear;, score=0.828 total time=   0.0s
[CV 4/5] END C=0.01, max_iter=1000, solver=liblinear;, score=0.828 total time=   0.0s
[CV 5/5] END C=0.01, max_iter=1000, solver=liblinear;, score=0.857 total time=   0.0s
[CV 1/5] END C=0.1, max_iter=1000, solver=newton-cg;, score=0.845 total time=   0.0s
[CV 2/5] END C=0.1, max_iter=1000, solver=newton-cg;, score=0.835 total time=   0.0s
[CV 3/5] END C=0.1, max_iter=1000, solver=newton-cg;, score=0.835 total time=   0.0s
[CV 4/5] END C=0.1, max_iter=1000, solver=newton-cg;, score=0.834 total time=   0.0s
[CV 5/5] END C=0.1, max_iter=1000, solver=newton-cg;, score=0.867 total time=   0.0s
[CV 1/5] END C=0.1, max_iter=1000, solver=lbfgs;, score=0.845 total time=   0.0s
[CV 2/5] END C=0.1, max_iter=1000, solver=lbfgs;, score=0.835 total time=   0.0s
[CV 3/5] END C=0.1, max_iter=1000, solver=lbfgs;, score=0.835 total time=   0.0s
[CV 4/5] END C=0.1, max_iter=1000, solver=lbfgs;, score=0.834 total time=   0.0s
[CV 5/5] END C=0.1, max_iter=1000, solver=lbfgs;, score=0.867 total time=   0.0s
[CV 1/5] END C=0.1, max_iter=1000, solver=liblinear;, score=0.846 total time=   0.0s
[CV 2/5] END C=0.1, max_iter=1000, solver=liblinear;, score=0.832 total time=   0.0s
[CV 3/5] END C=0.1, max_iter=1000, solver=liblinear;, score=0.837 total time=   0.0s
[CV 4/5] END C=0.1, max_iter=1000, solver=liblinear;, score=0.831 total time=   0.0s
[CV 5/5] END C=0.1, max_iter=1000, solver=liblinear;, score=0.864 total time=   0.0s
[CV 1/5] END C=1.0, max_iter=1000, solver=newton-cg;, score=0.845 total time=   0.0s
[CV 2/5] END C=1.0, max_iter=1000, solver=newton-cg;, score=0.835 total time=   0.0s
[CV 3/5] END C=1.0, max_iter=1000, solver=newton-cg;, score=0.834 total time=   0.0s
[CV 4/5] END C=1.0, max_iter=1000, solver=newton-cg;, score=0.833 total time=   0.0s
[CV 5/5] END C=1.0, max_iter=1000, solver=newton-cg;, score=0.864 total time=   0.0s
[CV 1/5] END C=1.0, max_iter=1000, solver=lbfgs;, score=0.845 total time=   0.0s
[CV 2/5] END C=1.0, max_iter=1000, solver=lbfgs;, score=0.834 total time=   0.0s
[CV 3/5] END C=1.0, max_iter=1000, solver=lbfgs;, score=0.834 total time=   0.0s
[CV 4/5] END C=1.0, max_iter=1000, solver=lbfgs;, score=0.833 total time=   0.0s
[CV 5/5] END C=1.0, max_iter=1000, solver=lbfgs;, score=0.864 total time=   0.0s
[CV 1/5] END C=1.0, max_iter=1000, solver=liblinear;, score=0.845 total time=   0.0s
[CV 2/5] END C=1.0, max_iter=1000, solver=liblinear;, score=0.834 total time=   0.0s
[CV 3/5] END C=1.0, max_iter=1000, solver=liblinear;, score=0.834 total time=   0.0s
[CV 4/5] END C=1.0, max_iter=1000, solver=liblinear;, score=0.833 total time=   0.0s
[CV 5/5] END C=1.0, max_iter=1000, solver=liblinear;, score=0.863 total time=   0.0s
[CV 1/5] END C=10.0, max_iter=1000, solver=newton-cg;, score=0.845 total time=   0.0s
[CV 2/5] END C=10.0, max_iter=1000, solver=newton-cg;, score=0.834 total time=   0.0s
[CV 3/5] END C=10.0, max_iter=1000, solver=newton-cg;, score=0.835 total time=   0.0s
[CV 4/5] END C=10.0, max_iter=1000, solver=newton-cg;, score=0.833 total time=   0.0s
[CV 5/5] END C=10.0, max_iter=1000, solver=newton-cg;, score=0.864 total time=   0.0s
[CV 1/5] END C=10.0, max_iter=1000, solver=lbfgs;, score=0.845 total time=   0.0s
[CV 2/5] END C=10.0, max_iter=1000, solver=lbfgs;, score=0.834 total time=   0.0s
[CV 3/5] END C=10.0, max_iter=1000, solver=lbfgs;, score=0.835 total time=   0.0s
[CV 4/5] END C=10.0, max_iter=1000, solver=lbfgs;, score=0.833 total time=   0.0s
[CV 5/5] END C=10.0, max_iter=1000, solver=lbfgs;, score=0.864 total time=   0.1s
[CV 1/5] END C=10.0, max_iter=1000, solver=liblinear;, score=0.845 total time=   0.0s
[CV 2/5] END C=10.0, max_iter=1000, solver=liblinear;, score=0.834 total time=   0.0s
[CV 3/5] END C=10.0, max_iter=1000, solver=liblinear;, score=0.835 total time=   0.0s
[CV 4/5] END C=10.0, max_iter=1000, solver=liblinear;, score=0.834 total time=   0.0s
[CV 5/5] END C=10.0, max_iter=1000, solver=liblinear;, score=0.864 total time=   0.0s
[CV 1/5] END C=100.0, max_iter=1000, solver=newton-cg;, score=0.845 total time=   0.0s
[CV 2/5] END C=100.0, max_iter=1000, solver=newton-cg;, score=0.834 total time=   0.0s
[CV 3/5] END C=100.0, max_iter=1000, solver=newton-cg;, score=0.835 total time=   0.0s
[CV 4/5] END C=100.0, max_iter=1000, solver=newton-cg;, score=0.833 total time=   0.0s
[CV 5/5] END C=100.0, max_iter=1000, solver=newton-cg;, score=0.863 total time=   0.1s
[CV 1/5] END C=100.0, max_iter=1000, solver=lbfgs;, score=0.845 total time=   0.0s
[CV 2/5] END C=100.0, max_iter=1000, solver=lbfgs;, score=0.834 total time=   0.0s
[CV 3/5] END C=100.0, max_iter=1000, solver=lbfgs;, score=0.835 total time=   0.1s
[CV 4/5] END C=100.0, max_iter=1000, solver=lbfgs;, score=0.833 total time=   0.0s
[CV 5/5] END C=100.0, max_iter=1000, solver=lbfgs;, score=0.863 total time=   0.0s
[CV 1/5] END C=100.0, max_iter=1000, solver=liblinear;, score=0.845 total time=   0.0s
[CV 2/5] END C=100.0, max_iter=1000, solver=liblinear;, score=0.834 total time=   0.0s
[CV 3/5] END C=100.0, max_iter=1000, solver=liblinear;, score=0.835 total time=   0.0s
[CV 4/5] END C=100.0, max_iter=1000, solver=liblinear;, score=0.833 total time=   0.0s
[CV 5/5] END C=100.0, max_iter=1000, solver=liblinear;, score=0.863 total time=   0.0s
[CV 1/5] END C=1000.0, max_iter=1000, solver=newton-cg;, score=0.845 total time=   0.0s
[CV 2/5] END C=1000.0, max_iter=1000, solver=newton-cg;, score=0.834 total time=   0.0s
[CV 3/5] END C=1000.0, max_iter=1000, solver=newton-cg;, score=0.835 total time=   0.0s
[CV 4/5] END C=1000.0, max_iter=1000, solver=newton-cg;, score=0.833 total time=   0.0s
[CV 5/5] END C=1000.0, max_iter=1000, solver=newton-cg;, score=0.863 total time=   0.0s
[CV 1/5] END C=1000.0, max_iter=1000, solver=lbfgs;, score=0.845 total time=   0.0s
[CV 2/5] END C=1000.0, max_iter=1000, solver=lbfgs;, score=0.834 total time=   0.0s
[CV 3/5] END C=1000.0, max_iter=1000, solver=lbfgs;, score=0.835 total time=   0.0s
[CV 4/5] END C=1000.0, max_iter=1000, solver=lbfgs;, score=0.833 total time=   0.0s
[CV 5/5] END C=1000.0, max_iter=1000, solver=lbfgs;, score=0.863 total time=   0.0s
[CV 1/5] END C=1000.0, max_iter=1000, solver=liblinear;, score=0.845 total time=   0.0s
[CV 2/5] END C=1000.0, max_iter=1000, solver=liblinear;, score=0.834 total time=   0.0s
[CV 3/5] END C=1000.0, max_iter=1000, solver=liblinear;, score=0.835 total time=   0.0s
[CV 4/5] END C=1000.0, max_iter=1000, solver=liblinear;, score=0.833 total time=   0.0s
[CV 5/5] END C=1000.0, max_iter=1000, solver=liblinear;, score=0.863 total time=   0.0s
{'C': 0.1, 'max_iter': 1000, 'solver': 'newton-cg'}
0.843351154194111

In [133]:
# save model

import joblib
filename = 'LogisticRegression.sav'
joblib.dump(model, filename)

['LogisticRegression.sav']

In [134]:
# save scaler

import joblib
filename = 'X_scaler.sav'
joblib.dump(X_scaler, filename)

['X_scaler.sav']