In [392]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read the CSV and Perform Basic Data Cleaning

In [352]:
df = pd.read_csv("selected_df.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,Unnamed: 0,Age,Number of Dependents,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Long Distance Charges,...,Online Security code,Online Backup code,Device Protection Plan code,Premium Tech Support code,Streaming TV code,Streaming Movies code,Unlimited Data code,Payment Method code,Customer Status code,Churn Category code
0,0,37,0,2,9,42.39,16.0,65.6,593.30,381.51,...,1,1,1,1,1,1,1,1,1,1
1,1,46,0,0,9,10.69,10.0,-4.0,542.40,96.21,...,1,2,1,2,2,2,2,1,1,1
2,2,50,0,0,4,33.65,30.0,73.9,280.85,134.60,...,1,2,2,2,2,1,1,2,2,2
3,3,78,0,1,13,27.82,4.0,98.0,1237.85,361.66,...,1,1,2,2,1,2,1,2,2,3
4,4,75,0,3,3,7.38,11.0,83.9,267.40,22.14,...,1,2,1,1,1,1,1,1,2,3

In [353]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4601 entries, 0 to 6587
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         4601 non-null   int64
 1   Age                                4601 non-null   int64
 2   Number of Dependents               4601 non-null   int64
 3   Number of Referrals                4601 non-null   int64
 4   Tenure in Months                   4601 non-null   int64
 5   Avg Monthly Long Distance Charges  4601 non-null   float64
 6   Avg Monthly GB Download            4601 non-null   float64
 7   Monthly Charge                     4601 non-null   float64
 8   Total Charges                      4601 non-null   float64
 9   Total Long Distance Charges        4601 non-null   float64
 10  Gender code                        4601 non-null   int64
 11  Married code                       4601 non-null   int64
 12  Offer code                         4601 non-null   int64
 13  Multiple Lines code                4601 non-null   int64
 14  Internet Service code              4601 non-null   int64
 15  Internet Type code                 4601 non-null   int64
 16  Online Security code               4601 non-null   int64
 17  Online Backup code                 4601 non-null   int64
 18  Device Protection Plan code        4601 non-null   int64
 19  Premium Tech Support code          4601 non-null   int64
 20  Streaming TV code                  4601 non-null   int64
 21  Streaming Movies code              4601 non-null   int64
 22  Unlimited Data code                4601 non-null   int64
 23  Payment Method code                4601 non-null   int64
 24  Customer Status code               4601 non-null   int64
 25  Churn Category code                4601 non-null   int64
dtypes: float64(5), int64(21)
memory usage: 970.5 KB

In [354]:
print(df.columns)

Index(['Unnamed: 0', 'Age', 'Number of Dependents', 'Number of Referrals',
       'Tenure in Months', 'Avg Monthly Long Distance Charges',
       'Avg Monthly GB Download', 'Monthly Charge', 'Total Charges',
       'Total Long Distance Charges', 'Gender code', 'Married code',
       'Offer code', 'Multiple Lines code', 'Internet Service code',
       'Internet Type code', 'Online Security code', 'Online Backup code',
       'Device Protection Plan code', 'Premium Tech Support code',
       'Streaming TV code', 'Streaming Movies code', 'Unlimited Data code',
       'Payment Method code', 'Customer Status code', 'Churn Category code'],
      dtype='object')

# Select your features (columns)

In [385]:
# Set features. This will also be used as your x values.
model_df = df.drop(['Unnamed: 0','Customer Status code','Churn Category code'], axis=1)

print(model_df.columns)

Index(['Age', 'Number of Dependents', 'Number of Referrals',
       'Tenure in Months', 'Avg Monthly Long Distance Charges',
       'Avg Monthly GB Download', 'Monthly Charge', 'Total Charges',
       'Total Long Distance Charges', 'Gender code', 'Married code',
       'Offer code', 'Multiple Lines code', 'Internet Service code',
       'Internet Type code', 'Online Security code', 'Online Backup code',
       'Device Protection Plan code', 'Premium Tech Support code',
       'Streaming TV code', 'Streaming Movies code', 'Unlimited Data code',
       'Payment Method code'],
      dtype='object')

# Create a Train Test Split

Use `koi_disposition` for the y values

In [405]:
from sklearn.model_selection import train_test_split
X = pd.get_dummies(model_df["Gender code"], drop_first = True)
# X = model_df
y = df["Customer Status code"].values.reshape(-1, 1)
print(X.shape, y.shape)
print(X)
print(y)

(4601, 1) (4601, 1)
      2
0     0
1     1
2     1
3     1
4     0
...  ..
6582  0
6583  0
6585  0
6586  1
6587  1

[4601 rows x 1 columns]
[[1]
 [1]
 [2]
 ...
 [1]
 [2]
 [1]]

In [395]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.3)

X_train

,Age,Number of Dependents,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Long Distance Charges,Gender code,...,Internet Service code,Internet Type code,Online Security code,Online Backup code,Device Protection Plan code,Premium Tech Support code,Streaming TV code,Streaming Movies code,Unlimited Data code,Payment Method code
1385,22,0,0,22,15.77,42.0,69.70,1490.40,346.94,2,...,1,2,1,2,1,2,2,1,1,1
2200,32,0,7,40,24.30,28.0,50.15,2058.50,972.00,2,...,1,3,1,1,1,2,2,1,1,1
948,22,0,0,56,35.59,69.0,73.85,4092.85,1993.04,1,...,1,2,1,1,1,2,2,1,1,2
2149,69,0,0,29,10.55,2.0,79.30,2414.55,305.95,2,...,1,2,1,2,1,1,2,1,1,2
5515,69,0,1,32,33.74,6.0,93.20,2931.00,1079.68,1,...,1,2,1,2,1,2,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6347,37,0,0,13,3.84,4.0,81.15,952.30,49.92,1,...,1,2,1,1,2,2,2,1,1,2
657,49,0,0,26,37.51,30.0,69.05,1815.65,975.26,1,...,1,2,1,2,1,2,2,1,1,1
4429,53,1,5,69,21.56,17.0,79.20,5420.65,1487.64,2,...,1,2,1,2,2,2,2,1,1,1
5403,42,1,1,4,37.23,23.0,69.55,284.90,148.92,2,...,1,2,1,2,1,2,2,1,1,1
1246,52,0,6,72,42.64,15.0,90.95,6468.60,3070.08,1,...,1,3,2,1,2,1,1,2,1,2

In [380]:
print(X_test)

      Age  Number of Dependents  Number of Referrals  Tenure in Months  \
5271   29                     0                    0                60
6322   53                     0                    0                17
3699   46                     0                    0                34
98     22                     0                    0                71
2644   43                     0                    0                33
...   ...                   ...                  ...               ...
4776   64                     2                    6                22
1861   68                     0                    0                57
634    30                     0                    2                69
5406   36                     0                    7                72
3150   72                     0                    0                 2

      Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
5271                              37.95                     27.0
6322                              41.78                     16.0
3699                              17.09                     16.0
98                                 2.88                     48.0
2644                              49.45                     19.0
...                                 ...                      ...
4776                              36.15                     11.0
1861                              32.12                     15.0
634                               48.80                     26.0
5406                               1.34                     19.0
3150                              41.43                     20.0

      Monthly Charge  Total Charges  Total Long Distance Charges  Gender code  \
5271           64.75        4039.50                      2277.00            1
6322           70.50        1165.60                       710.26            1
3699           56.95        1889.50                       581.06            2
98            116.30        8309.55                       204.48            2
2644           70.40        2406.10                      1631.85            1
...              ...            ...                          ...          ...
4776           -4.00        1663.75                       795.30            2
1861          104.90        5913.95                      1830.84            2
634            99.45        7007.60                      3367.20            2
5406           84.90        6065.30                        96.48            1
3150           44.70          93.70                        82.86            2

      ...  Internet Service code  Internet Type code  Online Security code  \
5271  ...                      1                   3                     2
6322  ...                      1                   2                     1
3699  ...                      1                   3                     2
98    ...                      1                   2                     2
2644  ...                      1                   2                     1
...   ...                    ...                 ...                   ...
4776  ...                      1                   3                     1
1861  ...                      1                   2                     1
634   ...                      1                   2                     1
5406  ...                      1                   3                     2
3150  ...                      1                   1                     1

      Online Backup code  Device Protection Plan code  \
5271                   2                            2
6322                   2                            1
3699                   2                            2
98                     1                            2
2644                   2                            1
...                  ...                          ...
4776                   2                            2
1861                   1                            1
634                    2                            2
5406                   2                            2
3150                   2                            1

      Premium Tech Support code  Streaming TV code  Streaming Movies code  \
5271                          1                  2                      1
6322                          2                  2                      1
3699                          2                  2                      1
98                            1                  1                      2
2644                          2                  2                      1
...                         ...                ...                    ...
4776                          1                  1                      2
1861                          1                  1                      2
634                           2                  1                      2
5406                          1                  1                      2
3150                          2                  2                      1

      Unlimited Data code  Payment Method code
5271                    2                    2
6322                    1                    2
3699                    1                    3
98                      1                    2
2644                    2                    2
...                   ...                  ...
4776                    1                    1
1861                    2                    2
634                     1                    1
5406                    1                    2
3150                    1                    2

[1381 rows x 23 columns]

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [358]:
print (X_train)

      Age  Number of Dependents  Number of Referrals  Tenure in Months  \
1385   22                     0                    0                22
2200   32                     0                    7                40
948    22                     0                    0                56
2149   69                     0                    0                29
5515   69                     0                    1                32
...   ...                   ...                  ...               ...
6347   37                     0                    0                13
657    49                     0                    0                26
4429   53                     1                    5                69
5403   42                     1                    1                 4
1246   52                     0                    6                72

      Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
1385                              15.77                     42.0
2200                              24.30                     28.0
948                               35.59                     69.0
2149                              10.55                      2.0
5515                              33.74                      6.0
...                                 ...                      ...
6347                               3.84                      4.0
657                               37.51                     30.0
4429                              21.56                     17.0
5403                              37.23                     23.0
1246                              42.64                     15.0

      Monthly Charge  Total Charges  Total Long Distance Charges  Gender code  \
1385           69.70        1490.40                       346.94            2
2200           50.15        2058.50                       972.00            2
948            73.85        4092.85                      1993.04            1
2149           79.30        2414.55                       305.95            2
5515           93.20        2931.00                      1079.68            1
...              ...            ...                          ...          ...
6347           81.15         952.30                        49.92            1
657            69.05        1815.65                       975.26            1
4429           79.20        5420.65                      1487.64            2
5403           69.55         284.90                       148.92            2
1246           90.95        6468.60                      3070.08            1

      ...  Internet Service code  Internet Type code  Online Security code  \
1385  ...                      1                   2                     1
2200  ...                      1                   3                     1
948   ...                      1                   2                     1
2149  ...                      1                   2                     1
5515  ...                      1                   2                     1
...   ...                    ...                 ...                   ...
6347  ...                      1                   2                     1
657   ...                      1                   2                     1
4429  ...                      1                   2                     1
5403  ...                      1                   2                     1
1246  ...                      1                   3                     2

      Online Backup code  Device Protection Plan code  \
1385                   2                            1
2200                   1                            1
948                    1                            1
2149                   2                            1
5515                   2                            1
...                  ...                          ...
6347                   1                            2
657                    2                            1
4429                   2                            2
5403                   2                            1
1246                   1                            2

      Premium Tech Support code  Streaming TV code  Streaming Movies code  \
1385                          2                  2                      1
2200                          2                  2                      1
948                           2                  2                      1
2149                          1                  2                      1
5515                          2                  1                      2
...                         ...                ...                    ...
6347                          2                  2                      1
657                           2                  2                      1
4429                          2                  2                      1
5403                          2                  2                      1
1246                          1                  1                      2

      Unlimited Data code  Payment Method code
1385                    1                    1
2200                    1                    1
948                     1                    2
2149                    1                    2
5515                    1                    2
...                   ...                  ...
6347                    1                    2
657                     1                    1
4429                    1                    1
5403                    1                    1
1246                    1                    2

[3220 rows x 23 columns]

In [359]:
# Scale your data
from sklearn.preprocessing import StandardScaler,LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

# Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# # X_train & scale the data
# X_scaler = MinMaxScaler().fit(X_train)
# y_scaler = MinMaxScaler().fit(y_train)
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)


print(len(X_test_scaled),len(encoded_y_test))

1381 1381

c:\Users\Kevin\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

# Train the Model

In [384]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

c:\Users\Kevin\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

Training Data Score: 0.779192546583851
Testing Data Score: 0.77697320782042

c:\Users\Kevin\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [361]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV

param_grid = {'C': [1, 5, 10, 50],
            'max_iter':[1000, 3000, 10000]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [362]:
# Train the model with GridSearch
grid.fit(X_train_scaled, encoded_y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
[CV 1/5] END ................C=1, max_iter=1000;, score=0.784 total time=   0.0s
[CV 2/5] END ................C=1, max_iter=1000;, score=0.814 total time=   0.0s
[CV 3/5] END ................C=1, max_iter=1000;, score=0.792 total time=   0.0s
[CV 4/5] END ................C=1, max_iter=1000;, score=0.825 total time=   0.0s
[CV 5/5] END ................C=1, max_iter=1000;, score=0.815 total time=   0.0s
[CV 1/5] END ................C=1, max_iter=3000;, score=0.784 total time=   0.0s
[CV 2/5] END ................C=1, max_iter=3000;, score=0.814 total time=   0.0s
[CV 3/5] END ................C=1, max_iter=3000;, score=0.792 total time=   0.0s
[CV 4/5] END ................C=1, max_iter=3000;, score=0.825 total time=   0.0s
[CV 5/5] END ................C=1, max_iter=3000;, score=0.815 total time=   0.0s
[CV 1/5] END ...............C=1, max_iter=10000;, score=0.784 total time=   0.0s
[CV 2/5] END ...............C=1, max_iter=10000;, score=0.814 total time=   0.0s
[CV 3/5] END ...............C=1, max_iter=10000;, score=0.792 total time=   0.0s
[CV 4/5] END ...............C=1, max_iter=10000;, score=0.825 total time=   0.1s
[CV 5/5] END ...............C=1, max_iter=10000;, score=0.815 total time=   0.0s
[CV 1/5] END ................C=5, max_iter=1000;, score=0.783 total time=   0.0s
[CV 2/5] END ................C=5, max_iter=1000;, score=0.815 total time=   0.0s
[CV 3/5] END ................C=5, max_iter=1000;, score=0.798 total time=   0.0s
[CV 4/5] END ................C=5, max_iter=1000;, score=0.818 total time=   0.0s
[CV 5/5] END ................C=5, max_iter=1000;, score=0.815 total time=   0.0s
[CV 1/5] END ................C=5, max_iter=3000;, score=0.783 total time=   0.0s
[CV 2/5] END ................C=5, max_iter=3000;, score=0.815 total time=   0.0s
[CV 3/5] END ................C=5, max_iter=3000;, score=0.798 total time=   0.0s
[CV 4/5] END ................C=5, max_iter=3000;, score=0.818 total time=   0.0s
[CV 5/5] END ................C=5, max_iter=3000;, score=0.815 total time=   0.0s
[CV 1/5] END ...............C=5, max_iter=10000;, score=0.783 total time=   0.0s
[CV 2/5] END ...............C=5, max_iter=10000;, score=0.815 total time=   0.0s
[CV 3/5] END ...............C=5, max_iter=10000;, score=0.798 total time=   0.0s
[CV 4/5] END ...............C=5, max_iter=10000;, score=0.818 total time=   0.0s
[CV 5/5] END ...............C=5, max_iter=10000;, score=0.815 total time=   0.0s
[CV 1/5] END ...............C=10, max_iter=1000;, score=0.784 total time=   0.0s
[CV 2/5] END ...............C=10, max_iter=1000;, score=0.814 total time=   0.0s
[CV 3/5] END ...............C=10, max_iter=1000;, score=0.798 total time=   0.0s
[CV 4/5] END ...............C=10, max_iter=1000;, score=0.818 total time=   0.0s
[CV 5/5] END ...............C=10, max_iter=1000;, score=0.815 total time=   0.0s
[CV 1/5] END ...............C=10, max_iter=3000;, score=0.784 total time=   0.0s
[CV 2/5] END ...............C=10, max_iter=3000;, score=0.814 total time=   0.0s
[CV 3/5] END ...............C=10, max_iter=3000;, score=0.798 total time=   0.0s
[CV 4/5] END ...............C=10, max_iter=3000;, score=0.818 total time=   0.0s
[CV 5/5] END ...............C=10, max_iter=3000;, score=0.815 total time=   0.0s
[CV 1/5] END ..............C=10, max_iter=10000;, score=0.784 total time=   0.1s
[CV 2/5] END ..............C=10, max_iter=10000;, score=0.814 total time=   0.1s
[CV 3/5] END ..............C=10, max_iter=10000;, score=0.798 total time=   0.1s
[CV 4/5] END ..............C=10, max_iter=10000;, score=0.818 total time=   0.5s
[CV 5/5] END ..............C=10, max_iter=10000;, score=0.815 total time=   0.5s
[CV 1/5] END ...............C=50, max_iter=1000;, score=0.783 total time=   0.0s
[CV 2/5] END ...............C=50, max_iter=1000;, score=0.814 total time=   0.0s
[CV 3/5] END ...............C=50, max_iter=1000;, score=0.798 total time=   0.0s
[CV 4/5] END ...............C=50, max_iter=1000;, score=0.817 total time=   0.0s
[CV 5/5] END ...............C=50, max_iter=1000;, score=0.815 total time=   0.0s
[CV 1/5] END ...............C=50, max_iter=3000;, score=0.783 total time=   0.0s
[CV 2/5] END ...............C=50, max_iter=3000;, score=0.814 total time=   0.0s
[CV 3/5] END ...............C=50, max_iter=3000;, score=0.798 total time=   0.0s
[CV 4/5] END ...............C=50, max_iter=3000;, score=0.817 total time=   0.0s
[CV 5/5] END ...............C=50, max_iter=3000;, score=0.815 total time=   0.0s
[CV 1/5] END ..............C=50, max_iter=10000;, score=0.783 total time=   0.0s
[CV 2/5] END ..............C=50, max_iter=10000;, score=0.814 total time=   0.0s
[CV 3/5] END ..............C=50, max_iter=10000;, score=0.798 total time=   0.0s
[CV 4/5] END ..............C=50, max_iter=10000;, score=0.817 total time=   0.0s
[CV 5/5] END ..............C=50, max_iter=10000;, score=0.815 total time=   0.0s

GridSearchCV(estimator=LogisticRegression(),
             param_grid={'C': [1, 5, 10, 50], 'max_iter': [1000, 3000, 10000]},
             verbose=3)

In [363]:
print(grid.best_params_)
print(grid.best_score_)

{'C': 1, 'max_iter': 1000}
0.8059006211180124

In [378]:
print(X_train)

      Age  Number of Dependents  Number of Referrals  Tenure in Months  \
1385   22                     0                    0                22
2200   32                     0                    7                40
948    22                     0                    0                56
2149   69                     0                    0                29
5515   69                     0                    1                32
...   ...                   ...                  ...               ...
6347   37                     0                    0                13
657    49                     0                    0                26
4429   53                     1                    5                69
5403   42                     1                    1                 4
1246   52                     0                    6                72

      Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
1385                              15.77                     42.0
2200                              24.30                     28.0
948                               35.59                     69.0
2149                              10.55                      2.0
5515                              33.74                      6.0
...                                 ...                      ...
6347                               3.84                      4.0
657                               37.51                     30.0
4429                              21.56                     17.0
5403                              37.23                     23.0
1246                              42.64                     15.0

      Monthly Charge  Total Charges  Total Long Distance Charges  Gender code  \
1385           69.70        1490.40                       346.94            2
2200           50.15        2058.50                       972.00            2
948            73.85        4092.85                      1993.04            1
2149           79.30        2414.55                       305.95            2
5515           93.20        2931.00                      1079.68            1
...              ...            ...                          ...          ...
6347           81.15         952.30                        49.92            1
657            69.05        1815.65                       975.26            1
4429           79.20        5420.65                      1487.64            2
5403           69.55         284.90                       148.92            2
1246           90.95        6468.60                      3070.08            1

      ...  Internet Service code  Internet Type code  Online Security code  \
1385  ...                      1                   2                     1
2200  ...                      1                   3                     1
948   ...                      1                   2                     1
2149  ...                      1                   2                     1
5515  ...                      1                   2                     1
...   ...                    ...                 ...                   ...
6347  ...                      1                   2                     1
657   ...                      1                   2                     1
4429  ...                      1                   2                     1
5403  ...                      1                   2                     1
1246  ...                      1                   3                     2

      Online Backup code  Device Protection Plan code  \
1385                   2                            1
2200                   1                            1
948                    1                            1
2149                   2                            1
5515                   2                            1
...                  ...                          ...
6347                   1                            2
657                    2                            1
4429                   2                            2
5403                   2                            1
1246                   1                            2

      Premium Tech Support code  Streaming TV code  Streaming Movies code  \
1385                          2                  2                      1
2200                          2                  2                      1
948                           2                  2                      1
2149                          1                  2                      1
5515                          2                  1                      2
...                         ...                ...                    ...
6347                          2                  2                      1
657                           2                  2                      1
4429                          2                  2                      1
5403                          2                  2                      1
1246                          1                  1                      2

      Unlimited Data code  Payment Method code
1385                    1                    1
2200                    1                    1
948                     1                    2
2149                    1                    2
5515                    1                    2
...                   ...                  ...
6347                    1                    2
657                     1                    1
4429                    1                    1
5403                    1                    1
1246                    1                    2

[3220 rows x 23 columns]

TypeError: Cannot interpret '1' as a data type

In [365]:
# # Visualizing both classes
# scatterplot?

# Save the Model

In [366]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'LogisticRegression.sav'
joblib.dump(model, filename)

['LogisticRegression.sav']